---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";
import { getPage } from "../utils/pagination";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);

const page = getPage(posts, 1);
---

<Base title="블로그">
  <h1>포스트 목록</h1>
  <p class="text-red-500 text-3xl font-bold">Tailwind 테스트</p>
  <ul>
    {
      page.data.map((post) => (
        <li>
          <time datetime={post.data.date.toISOString()}>
            {post.data.date.toLocaleDateString("ko-KR")}
          </time>
          {" - "}
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>

  <nav>
    {page.prevUrl && <a href={page.prevUrl}>&larr; 이전</a>}
    <span> {page.currentPage} / {page.totalPages} </span>
    {page.nextUrl && <a href={page.nextUrl}>다음 &rarr;</a>}
  </nav>
</Base>
