---
import Base from './Base.astro';

const { title, date, categories, tags, prevPost, nextPost, description } = Astro.props;
---

<Base title={title} description={description} type="article">
  <article class="post">
    <h1 class="post-title">{title}</h1>

    <div class="post-meta">
      <span>
        <time datetime={date.toISOString()}>
          {date.toLocaleDateString('ko-KR')}
        </time>
      </span>

      {categories.length > 0 && (
        <span class="post-categories">
          {categories.map((cat: string, i: number) => {
            const href = '/categories/' + categories.slice(0, i + 1).join('/');
            return (
              <span>
                {i > 0 && ' > '}
                <a href={href}>{cat}</a>
              </span>
            );
          })}
        </span>
      )}
    </div>

    <div class="post-content">
      <slot />
    </div>

    <div class="post-tail-wrapper">
      {tags.length > 0 && (
        <div class="post-tags">
          {tags.map((tag: string) => (
            <a class="post-tag" href={`/tags/${tag}`}>{tag}</a>
          ))}
        </div>
      )}
    </div>

    <nav class="post-navigation">
      {prevPost ? (
        <a class="btn btn-prev" href={`/posts/${prevPost.id}`}>
          <span class="btn-label">&larr; 이전</span>
          <span class="btn-title">{prevPost.data.title}</span>
        </a>
      ) : <span class="btn btn-prev disabled" />}

      {nextPost ? (
        <a class="btn btn-next" href={`/posts/${nextPost.id}`}>
          <span class="btn-label">다음 &rarr;</span>
          <span class="btn-title">{nextPost.data.title}</span>
        </a>
      ) : <span class="btn btn-next disabled" />}
    </nav>
  </article>
</Base>
