---
import Base from '../../layouts/Base.astro';
import PostCard from '../../components/PostCard.astro';
import { getCollection } from 'astro:content';
import { getPage, getPageNumbers } from '../../utils/pagination';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const pageNumbers = getPageNumbers(posts.length);

  return pageNumbers.map(num => ({
    params: { page: String(num) },
  }));
}

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const pageNum = Number(Astro.params.page);
const page = getPage(posts, pageNum);
---

<Base title="블로그">
  <div id="post-list">
    {page.data.map((post) => (
      <PostCard post={post} />
    ))}
  </div>

  <nav class="pagination">
    {page.prevUrl && (
      <a class="page-link" href={page.prevUrl}>&larr;</a>
    )}
    <span class="page-index">{page.currentPage} / {page.totalPages}</span>
    {page.nextUrl && (
      <a class="page-link" href={page.nextUrl}>&rarr;</a>
    )}
  </nav>
</Base>
